header {
  background-color: rgb(37, 147, 252);
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.App {
  white-space: pre-wrap;
}

.image img {
  width: 200px;
  height: 100%;
  border: 1px solid black;
}